<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookCSIndexPath</key>
	<string>ArkyveHelp.cshelpindex</string>
	<key>HPDBookIconPath</key>
	<string>shared/images/Arkyve_Logo.png</string>
	<key>HPDBookIndexPath</key>
	<string>ArkyveHelp.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>Arkyve1</string>
	<key>HPDBookTitle</key>
	<string>Arkyve Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
