<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIcons</key>
        <dict>
            <key>CFBundlePrimaryIcon</key>
            <dict>
                <key>CFBundleIconName</key>
                <string>Icon_Template</string>
                <key>CFBundleIconFile</key>
                <string>Compress</string>
            </dict>
<!--            <key>ISGraphicIconConfiguration</key>-->
<!--            <dict>-->
<!--                <key>ISRenderingMode</key>-->
<!--                <string>automatic</string>-->
<!--                <key>ISSymbolName</key>-->
<!--                <string>rectangle.compress.vertical</string>-->
<!--                <key>ISEnclosureColor</key>-->
<!--                <string>gray</string>-->
<!--                <key>ISSymbolColor</key>-->
<!--                <string>white</string>-->
<!--            </dict>-->
        </dict>
        <key>NSExtension</key>
        <dict>
            <key>NSExtensionAttributes</key>
            <dict>
                <key>NSExtensionActivationRule</key>
                <string>SUBQUERY (
                    extensionItems,
                    $extensionItem,
                    SUBQUERY (
                    $extensionItem.attachments,
                    $attachment,

                    (
                    ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.data&quot;
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.folder&quot;
                    || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.directory&quot;
                    )
                    ).@count == $extensionItem.attachments.@count
                    ).@count == 1</string>
                <key>NSExtensionServiceAllowsFinderPreviewItem</key>
                <true/>
                <key>NSExtensionServiceAllowsTouchBarItem</key>
                <true/>
                <key>NSExtensionServiceFinderPreviewIconName</key>
                <string>Icon_Template</string>
                <key>NSExtensionServiceRoleType</key>
                <string>NSExtensionServiceRoleTypeEditor</string>
                <key>NSExtensionServiceTouchBarBezelColorName</key>
                <string>TouchBarBezel</string>
                <key>NSExtensionServiceTouchBarIconFile</key>
                <string>Icon_Template</string>
                <key>NSExtensionServiceFinderPreviewLabel</key>
                <string>Compress</string>
                <key>NSExtensionServiceAllowsToolbarItem</key>
                <true/>
                <key>NSExtensionServiceToolbarIconFile</key>
                <string>Icon_Template</string>
                <key>NSExtensionServiceToolbarPaletteLabel</key>
                <string>Extract</string>
            </dict>
            <key>NSExtensionPointIdentifier</key>
            <string>com.apple.ui-services</string>
            <key>NSExtensionPrincipalClass</key>
            <string>$(PRODUCT_MODULE_NAME).ActionViewController</string>
        </dict>
    </dict>
</plist>
