<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<false/>
			<key>QLSupportedContentTypes</key>
            <array>
                <string>com.rarlab.rar-archive</string>
                <string>net.tenshu.Arkyve.lha</string>
                <string>net.tenshu.Arkyve.ar</string>
                <string>net.tenshu.Arkyve.lzh</string>
                <string>com.microsoft.cab</string>
                <string>org.7-zip.7-zip-archive</string>
                <string>public.iso-image</string>
                <string>public.cpio-archive</string>
                <string>com.apple.xar-archive</string>
                <string>com.apple.xip-archive</string>
                <string>com.apple.installer-package-archive</string>
                <string>public.zip-archive</string>
                <string>org.gnu.gnu-zip-archive</string>
                <string>public.bzip2-archive</string>
                <string>org.gnu.gnu-zip-tar-archive</string>
                <string>public.tar-bzip2-archive</string>
                <string>org.tukaani.xz-archive</string>
                <string>org.tukaani.tar-xz-archive</string>
                <string>public.tar-archive</string>
                <string>com.apple.webarchive</string>
            </array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
